<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home Page</title>
</head>

<body>
  <h1>Hello World! Welcome to Synptom insight</h1>
  <form action="/" method="POST">
  Sex:
    {% if data["GENDER"] == 0 %}
    <input type="radio" name="GENDER" id="Male" value="0"checked="checked"><label for="Male">Male</label>
    <input type="radio" name="GENDER" id="Female" value="1"><label for="Female">Female</label>
    {% else %}
    <input type="radio" name="GENDER" id="Male" value="0"><label for="Male">Male</label>
    <input type="radio" name="GENDER" id="Female" value="1" checked="checked"><label for="Female">Female</label>
    {% endif %}
    &emsp;&emsp;
  Age:
    <input type="number" name="AGE" id="AGE" min="0" max="100" value="{{data["AGE"]}}">
    &emsp;&emsp;
  Height:
    <input type="number" name="HEIGHT" id="HEIGHT" min="0" max="100" value="{{data["HEIGHT"]}}" step="0.01">
    &emsp;&emsp;
  Weight:
    <input type="number" name="WEIGHT" id="WEIGHT" min="0" max="100" value="{{data["WEIGHT"]}}" step="0.01">

  <br><br>

    <button type="submit">Predict</button>
  </form>

  {% if result %}
  <h2>Below is the five major symptoms you might going to have:</h2>
    {% for symptom in result %}
      <h2>{{ symptom }}</h2>
    {% endfor %}
  {% endif %}

</body>
</html>
